@{
    ViewData["Title"] = "CIT218 U+1FAA8 (look it up)";
}

<div class="text-center">
    <h1 class="display-4">Web Apps</h1>
    <p>Thank you for not making me type "Hello World" for the 100 billionth time in my life!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
